
header.content-header
    div.logo(data-view="m")
        a(href="/")
            svg(viewBox="0 0 512 512")
                use(xlink:href="/images/sprite.svg#logo-m" x="0px" y="0px")
    nav.menu
        ul.menu-links
            li.menu-link.menu-link_home
                a(href="/") Home
            li.menu-link
                a(href="/books") Books
            li.menu-link
                a(href="/patrons") Patrons
            li.menu-link
                a(href="/loans") Loans
