extends shared/layout.pug

block styles
    link(rel="stylesheet" href="/styles/styles.css")

block body
    div.content
        include shared/header.pug
        div.error-screen
            div.error-overlay
            div.error-screen__message 
                span.code #{code}
                span.text #{message}
        include shared/footer.pug