extends shared/single-layout.pug

block item
    div.form-context
        form#loan.form
            div.form-group
                div.form-controls
                    div.form-input
                        select.form-input__control.form-input__control_select(name="book_id" id="book_id")
                            each book in books
                                option(value=`${book.id}`) #{book.name}
                        span.form-input__placeholder Book
            div.form-group
                div.form-controls
                    div.form-input
                        select.form-input__control.form-input__control_select(name="patron_id" id="patron_id")
                            each patron in patrons
                                option(value=`${patron.id}`) #{patron.name}
                        span.form-input__placeholder Patron
            div.form-group
                div.form-controls
                    div.form-input
                        input.form-input__control(type="date" name="loaned_on" id="loaned_on")
                        span.form-input__placeholder Loaned on
            div.form-group
                div.form-controls
                    div.form-input
                        input.form-input__control(type="date" name="return_by" id="return_by")
                        span.form-input__placeholder Return by
            div.form-actions
                button#create.btn.btn-primary Create New Loan
block item-scripts
    script.
        $(document).ready(function() {
            $("#loan").loan();
        })